pyrender==0.1.45
torchvision==0.7.0
scipy==1.5.3
trimesh==3.10.5
torch==1.6.0
spatialmath_python==1.0.0
matplotlib==3.4.3
numpy==1.19.5
dataloader==2.0
dataset==1.5.2
model==0.6.0
Pillow==9.2.0
utility==1.0
viz==0.0.5
