# ignore all logs
*.logs
/data
/Fisher
/modelnet
/CosyPose
/pascal
/SO3
/assets
rotation_prelim
viz
test

/6D/data
/6D/dataset
/6D/ModelNet40
/6D/logs
/6D/NormalizedModelNet40

*.slurm
*.off
*.ply
._.DS_Store
.DS_Store
Fresh/logs
Fresh/imgs
Fresh/all_with_sym
Fresh/all_no_sym
Fresh/test_runs
Fresh/test
__pycache__/
._.DS_Store/
prelim_test
prelim_slurm
data_loader.pyc
/MNIST
/CIFAR10