# ignore all logs
*.logs
/data
/Fisher
/modelnet
/CosyPose
/pascal
/SO3
/assets
rotation_prelim
viz
test
Iterative/training-paral
Iterative/training-paral2
Iterative/training
Iterative/testing
Iterative/more_imgs
Iterative/ill
Iterative/imgs_after_train_1_it
point_cloud/logs
point_cloud/modelnet40_manually_aligned
point_cloud/chair_bed
point_cloud/chair_table
Iterative/training-paral
/Iterative/data
Iterative/dataset_iteration_2
point_cloud/chair_imgs
point_cloud/*.png
point_cloud/chair_toilet
/Iterative/dataset
/Iterative/ModelNet40
/Iterative/logs
/Iterative/NormalizedModelNet40
/render_utils
/.vscode
meshmesh.py
rotation_prelim.py
*.slurm
*.off
*.ply
*.png
prelim/*.png
._.DS_Store
.DS_Store
Fresh/logs
UPNA/Head_Pose_Database_UPNA
Fresh/run-026-epoch47-all
Fresh/SVD
Fresh/quat
Fresh/5D
Fresh/6D
dataset
UPNA/Head_Pose_Database_UPNA
UPNA/logs
UPNA/Head_Pose_Database_UPNA.zip
UPNA/upna_preprocessed
Fresh/datasetSO3
Fresh/logs2
Fresh/run-26-epoch47-all
Fresh/imgs
Fresh/all_with_sym
Fresh/all_no_sym
Fresh/resnetrs101_state_dict_49.pkl
Fresh/test_runs
Fresh/test
__pycache__/
._.DS_Store/
prelim_test
prelim_slurm
data_loader.pyc
/MNIST
/CIFAR10